nav#mainNav {
    background-color: #0B3C5D;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold
}

.bg-dark {
  background-color: #0B3C5D!important;
}


.navbar-dark .navbar-nav .nav-link {
  color: #328CC1;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFFFFF;
}

.navbar-dark .navbar-brand {
  color: #D9B310;
}

.navbar-dark .navbar-brand:hover {
  color: #328CC1;
}


.landing-media { position:relative; }

.landing-button {
  position: absolute;
  left: 50%;
  top: 475%;
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

.main-container {
  width: auto;
  height: auto;
}

.nav-bar {
  width: 100%;
  height: auto;
  z-index: 1000;
}

.nav-brand {
  margin: 3em;
  display: inline;
  color: #08253a;
  font-family: 'Josefin Sans', sans-serif;
}

.report-form-btn {
  float: right;
  margin: 3em;
  display: inline;
  height: 3em;
  border-width: 1px;
  border-radius: 0.5em;
  border-color: #08253a;
  background: #F9CF00;
  color: #08253a;
}
.report-form-btn:hover {
  border-color: #F19F4D;
  background: #08253a;
  color: #F19F4D;

}

.landing-media {
  /*margin: auto;*/
  /*width: 99%;*/
}

.show-map-btn {
  height: 3em;
  border-width: 1px;
  border-radius: 0.5em;
  border-color: #08253a;
  background: #F9CF00;
  color: #E5CC2A;
}

.show-map-btn:hover {
  border-color: #F19F4D;
  background: #08253a;
  color: #E5CC2A;
}

.video {
  width: 100%;
  background-size: cover;
  /*margin: auto;*/
  object-fit: contain;
  position:relative;
  z-index:0;
}

.map-container {
  /*margin: auto;*/
  /*width: 99%;*/
}

.map {
  width: 100%;
  object-fit: contain;
}

.filter-bar {
  margin: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0B3C5D;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #328CC1;
}

.filter-by-type {
  order: 1;
}

.filter-by-source {
  order: 2;
}

.filter-by-datetime {
  order: 3;
}

.filter-by-road-condition {
  order: 4;
}

.filter-by-light-condition {
  order: 5;
}

.container-graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: #F8F8F8;

}

.graph {
  flex-grow: 1;
  width: 40%;
  height: 44%;
  object-fit: contain;
  margin: 2em;
  padding: 1em;
  border: 2px solid;
  box-sizing: content-box;
  background: white;
}

#graph-1 {
  order: 1;
  border-color: #4484CE;
}

#graph-2 {
  order: 2;
  border-color: #F19F4D;
}

#graph-3 {
  order: 3;
  border-color: #F19F4D;

}

#graph-4 {
  order: 4;
  border-color: #4484CE;
}

.footer {
  background-color: #0B3C5D;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #328CC1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}