/* color scheme:
navy: #00223e;
medium-dark blue (Prussian Blue): #0B3C5D;
yellow (Gold Leaf): #D9B310;
light grey: #F8F8F8;
coral(orange): rgb(238, 67, 59);
dusky turquoise: rgb(100, 170, 180);
*/


.main-container {
  width: auto;
  height: auto;
  background-color: #00223e;
}

#mainNav {
    background-color: #00223e!important;
    font-family: 'Josefin Sans', sans-serif;
    /*font-weight: bold*/
}

/*.bg-dark {*/
  /*background-color: #00223e!important;*/
/*}*/


.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #D9B310;
}

.navbar-dark .navbar-brand {
  font-size: 2em;
  color: #D9B310;
}

.navbar-dark .navbar-brand:hover {
  color: white;
}

/* These classes are commented out in NavBar.js
/*.nav-bar {
  width: 100%;
  height: auto;
  z-index: 1000;
}

.nav-brand {
  margin: 3em;
  display: inline;
  color: #08253a;
  font-family: 'Josefin Sans', sans-serif;
}*/

.overlay {
  position: fixed;
  margin: 0 auto;
  padding: 3em;
  top: 13%;
  left: 60%;
  right: 5%;
  z-index: 99;
  /*font-weight: bold;*/
  color: rgb(255, 255, 255, 0.85);
  background-color: rgb(0, 34, 62, 0.85);
  text-align: center;
}

.intro-lead-in {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.intro-heading {
  font-size: 1.25em;
}

.landing-button {
  position: fixed;
  left: 45%;
  right: 45%;
  top: 47%;
  bottom: 47%;
  color: #00223e;
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0.7);
  /*border-color: #0B3C5D;*/
  border: 1px solid;
  border-color: #00223e;
  margin: 0 auto;
  z-index: 100;
  overflow: hidden;
  padding: 0.5em;
}

.landing-button:hover {
  color: white;
  background-color: rgb(0, 34, 62);
  border-color: white;
}

.video {
  width: 100%;
  background-size: cover;
  /*margin: auto;*/
  object-fit: contain;
  position: relative;
  z-index: 0;
}

/* This class is commented out in LandingPage.js
/*.show-map-btn {
  height: 3em;
  border-width: 1px;
  border-radius: 0.5em;
  border-color: #08253a;
  background: #F9CF00;
  color: #E5CC2A;
}

.show-map-btn:hover {
  border-color: #F19F4D;
  background: #08253a;
  color: #E5CC2A;
}*/

.report-form-btn {
  float: right;
  margin: 3em;
  display: inline;
  height: 3em;
  border-width: 1px;
  border-radius: 0.5em;
  border-color: #08253a;
  background: #F9CF00;
  color: #08253a;
}
.report-form-btn:hover {
  border-color: #F19F4D;
  background: #08253a;
  color: #F19F4D;

}

.map-container {
  margin-top: 4.5em;
}

.map {
  width: 100%;
  object-fit: contain;
}

.filter-bar {
  margin: auto;
  padding: 2em 4em;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #00223e;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  color: #F8F8F8;
}

.filter-by-type {
  order: 1;
}

.filter-by-source {
  order: 2;
}

.filter-by-datetime {
  order: 3;
}

.filter-by-road-condition {
  order: 4;
}

.filter-by-light-condition {
  order: 5;
}

.container-graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 2em 2em 6em 2em;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: #F8F8F8;

}

.accident-graphs {
  order: 1;
  width: 49%;
  /*height: 99%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theft-graphs {
  order: 2;
  width: 49%;
  /*height: 99%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.graph {
  flex-grow: 1;
  width: 99%;
  height: 49%;
  object-fit: contain;
  margin: 2em;
  padding: 1em;
  border: 2px solid;
  box-sizing: content-box;
  background: white;
}

#graph-1 {
  order: 1;
  border-color: #00223e;
}

#graph-2 {
  order: 2;
  border-color: #D9B310;
}

#graph-3 {
  order: 1;
  border-color: #D9B310;

}

#graph-4 {
  order: 2;
  border-color: #00223e;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-color: #00223e;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-text {
  color: white;
  font-size: 1.2em;
}

.footer-text:hover {
  color: #D9B310;
}

#footer-1 {
  order: 1;
}

#footer-2 {
  order: 2;
}

.filter-modal {
  max-width: 70%;
}

.modal-flex {
  display: flex;
  flex-direction: column;
}

.custom-switch {
  font-weight: bold;
}

.modal-header {
  border-bottom: 1px solid #d6d4d4;
}

.modal-footer {
  border-top: 1px solid #d6d4d4;
}

.modal-title {
  color: #00223e;
}
.modal-content {
  color: #00223e;
  background-color: #F8F8F8;
}

.custom-control-label {
  font-size: 1.2em;
  padding: 0 0.2em 0.2em 0;
}

.modal-row-1 {
  order: 1;
  padding-bottom: 2em;
}

.modal-row-2 {
  order: 2;
}

.filter-selections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accident-filter-selections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.theft-filter-selections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.filter-border {
  border-right: 1px solid #d6d4d4;
}

.filter-col-1 {
  order: 1;
  padding-right: 1em;
}

.filter-col-2 {
  order: 2;
  padding-right: 1em;
  padding-left: 0.5em;
}

.filter-col-3 {
  order: 3;
  padding-right: 1em;
  padding-left: 0.5em;
}

.filter-col-4 {
  order: 4;
  padding-right: 1em;
  padding-left: 0.5em;

}

.filter-col-5 {
  order: 5;
  padding-right: 1em;
  padding-left: 0.5em;

}

.filter-col-6 {
  order: 6;
  padding-right: 1em;
  padding-left: 0.5em;

}

.neighbourhood-checkboxes {
  display: flex;
  flex-direction: column;
}

.neighbourhood-cat {
  font-size: 1.3em;
  color: #00223e;
  padding-top: 1em;
}

.filter-row-1 {
  order: 1;
  padding-bottom: 2em;
}

.filter-row-2 {
  order: 2;
}